.empListDiv {
  margin-top: 5vh;
  margin-left: 3vw;
}

.empListTitle {
  margin-bottom: 2vh;
  margin-left: 1vw;
}

.contentBelowTable {
  margin-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
